@font-face {
  font-family: "vazir";
  src: url("../public/fonts/Vazir-Light-FD.woff");
  font-weight: normal;
}

@font-face {
  font-family: "vazir-bold";
  src: url("../public/fonts/Vazir-Bold-FD.woff");
  font-weight: bold;
}

body {
  background-color: #20272e;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
  color: inherit;
}